.TMNT {
  background-color: green;
  color: white;
  outline-width: 2px black;
  text-align: center;
}

.fries {
  background-color: yellow;
  color: black;
  text-align: center;

}

.lasagna {
  background-color: red;
  color: white;
  text-align: center;
}

.sub {
  font-weight: bold;
  font-size: 15px;
}

.title {
  font-size: 40px;
  font-weight: bolder;
  text-decoration: underline; 
}

#title {
  font-size: 40px;
  font-weight: bolder;
  text-decoration: underline; 
}